@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --main-bg-color: #2874f0;
  }
  *{
    padding: 0;
    margin: 0;
}

header {
    background: var(--main-bg-color);
    /* height: 12vh; */
    /* background-color: black; */
    /* border: 2px solid red; */
    font-family: "Lato", sans-serif;
    /* width: 12vw; */
}
nav{
    display: flex;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height:12vh ; */
}
nav ul li{
    list-style: none;
    padding: 0 23px;
    /* margin: 0 45px; */
    /* align-items: center; */
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    /* color: rgb(218, 218, 229); */
    font-weight: bold;
}
.search{
    display: flex;
  align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button:hover{
    font-weight: bold;
}
.slider{
    /* margin: auto; */
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: auto;
    font-family: "Lato", sans-serif;
}
.cards{
    display: flex;
    /* align-items: center; */
}
.card-item{
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
    width: 10vw;
}
.card h2{
    font-family: "Lato", sans-serif;
   
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
footer {
    height: 12vh;
    background: var(--main-bg-color);
    /* background-color: black; */
    color: white;
    font-family: "Lato", sans-serif;
}